{% extends 'base.html' %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h1>Generator syntetycznych danych medycznych</h1>
        <br/>
        <p>Aplikacja zostala stworzona na potrzeby pracy inżynierskiej. Dokładniejszy opis zostanie zamieszczony w
            niedalekiej przyszłości</p>
        <h3>Dalsze plany pracy inżynierskiej:</h3>
        <ol>
            <li>Upewnienie się czy wszystko zostało poprawnie zaimplementowane</li>
            <li>Pisanie pracy (w toku i kontunuowane w trakcie kolejnych zadań)</li>
            <li>Dodanie na stronę wykresów na temat otrzymanej jakości danych</li>
            <li>Wprowadzenie poprawek w modelach</li>
            <li>Poprawienie opisów na stronie</li>
        </ol>
    </div>
{% endblock %}